<div *ngFor="let noticia of noticias" class="center-content">
    <mat-card class="example-card">
      <mat-card-header class="image-container">
        <div class="image-container">
            <img
              mat-card-image
              src="{{noticia.photo}}"
              alt="Descripción de la imagen"
            />
          </div>
      </mat-card-header>
      <mat-card-content>
        <mat-card-title>{{ noticia.title}}</mat-card-title>
        <mat-card-subtitle>{{ noticia.subtitles }}</mat-card-subtitle>
        <p id="textoNoticia">{{noticia.noticetext }}</p>
      </mat-card-content>
    
    </mat-card>
  </div>